<br>
<br>
<h1 align="center">Welcome to the DermaLog, <%=@user.name.capitalize%>!</h1>
<br>
<br>
<img src="/images/shutterstock_1728158860.png" alt='skincare cartoon' class='skincare_doodle'>
<div style="text-align:center">
<br>
<div>
<a href="/logs/new"> Create a log </a> &nbsp;&nbsp;&nbsp; <a href="/logs"> View All Logs </a>
</div>


