<div style="text-align:center">
<h1>Welcome!</h1>
<h3>Log In To Get Started.</h3>
<br>
<br>
<form method="POST" method="/sessions">
<label>Email <input type="email" name="email"></label>
<br>
<br>
<label>Password <input type="password" name="password"></label>
<br>
<br>
<input type="submit" value="Log In">
</form>
<div>