<DOCTYPE! HTML>

<h1>Hey there! Log In Below!</h1>
<form method="POST" method="/sessions">
<label>Email <input type="email" name="email"></label>
<br>
<label>Password <input type="password" name="password"></label>
<br>
<input type="submit" value="Log In">
</form>