<br>
<br>
<h1 align="center">Thank you for being a member 
<br>
of the DermaLog community.</h1>
<br>
<img src="/images/Beige Floral Natural Makeup Beauty Logo (2).png" alt="dermalog_logo" class="dermalog_logo">
<h3 align="center">All skin is good skin.</h3>
<%# <% binding.pry %>
<br>

<div style="text-align:center">
    <a href="/">Back to Home.</a>
    </div>