<br>
<br>
<h1 align="center">Thank you for being a member 
<br>
of the DermaLog community.</h1>
<br>
<br>
<h3 align="center">All skin is good skin.</h3>
<%# <% binding.pry %>
<br>

<div style="text-align:center">
    <a href="/">Back to Home.</a>
    </div>