
<br>
<img src="/images/Beige Floral Natural Makeup Beauty Logo (2).png" alt="dermalog_logo" class="dermalog_logo">
<div>
 <h1 align="center">Welcome To The DermaLog.</h1>  
<h3 align="center">Please sign up or log in to start tracking your skin's health and changes!</h3>
<br>
<div style="text-align:center">
<a href="/signup">Sign Up</a>
<a href="/users/login">Log In</a>
</div>