<h1 align="center">Welcome to DermaLog</h1>  
<br>
<br>
<img src="/images/shutterstock_1770758042.png" alt="glow_time" class="glow" >
 <div>
 
<h3 align="center">Please sign up or log in to start tracking your skin's health and changes!</h3>
<br>
<div style="text-align:center">
<a href="/signup">Sign Up</a>
<a href="/users/login">Log In</a>
</div>