<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dermalog</title>
    </head>
<body>  
<h1>Welcome to DermaLog</h1>   
<h3>Please sign up or log in to start tracking your skin's health and changes!</h3>
<br>
<a href="/signup">Sign Up</a>
<br>
<a href="/sessions/login">Log In</a>

</body>
</html>