
<h1 align="center">Welcome!</h1>
<h3 align="center"> The DermaLog was created for those who struggle with skin issues. Here you can log any changes, breakouts, new products you're trying, and keep track of your skin's overall health.</h3>
<br>
<div style="text-align:center">
<form method="POST" action="/signup">
<label>Name: <input type="text" name="name" required></label>
<br>
<br>
<label>Email: <input type="email" name="email" required></label>
<br>
<br>
<label>Password: <input type="password" name="password" required</label>
<br>
<br>
<input type="submit" value="Sign Up">
</form>
</div>
<br>
<br>
<h4 align="center">Sign up to get started on your path to healthier skin.</h4>
</body>
