<h2 align="center">Sorry, you're not signed in.</h2>
<br>
<h4 align="center">To start logging, create an account or log in!
<br>
<br>
<div class="button">
    <a href="/users/login">Log In</a>
        </div>
        <div class="button">
    <a href="/signup">Sign Up</a>
</div>